<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloud.control.expand.service"
    android:sharedUserId="android.uid.system">

    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 自定义service访问权限 -->
    <permission android:name="com.cloud.control.expand.service.aidl.permission.OCR_SERVICE" />
    <!--自定义的权限，用于代理与扩展服务的进程间通信-->
    <permission android:name="com.cloud.control.expand.service.aidl.permission.AGENT_SERVICE"/>

    <application
        android:name=".home.ExpandServiceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/HomeTheme">
        <service
                android:name=".aidl.AidlService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.cloud.control.expand.service.aidl.permission.AGENT_SERVICE"/>
        <service
            android:name=".module.virtualscene.VirtualSceneService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".module.virtualcenter.VirtualCenterActivity" />
        <activity
            android:name=".module.virtualscene.VirtualSceneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <service
            android:name=".module.ocr.OcrService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.cloud.control.expand.service.aidl.permission.OCR_SERVICE"
            android:process=":remote" /> <!-- android:persistent="true" -->
        <activity android:name=".home.list.ExpandServiceListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.changemachine.ChangeMachineActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".module.switchproxy.SwitchProxyActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.virtuallocation.VirtualLocationActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>